@import "fonts";
@import "mixins";
@import "vars";
h1 {
  font-size: 50px;
  font-family: nexaBlack;
}
h2 {
  font-size: 45px;
  font-family: nexaBold;
}
h3 {
  font-size: 30px;
  font-family: nexaBold;
}
h4 {
  font-size: 24px;
  font-family: nexaBold;
}
h5 {
  font-size: 20px;
  font-family: nexaLight;
}
p {
  font-size: 17px;
  font-family: nexaLight;
  color: rgba(0, 0, 0, 0.803);
}

/*
span {
  font-size: 12px;
  font-family: nexaBold;
}
*/

//

.btn-acap-blue a {

  min-width: unset;

  width: 100%;

  color: white !important;

  transition: 0.2s;




  &:hover {

      background-color: white;

      border: solid 1px white;

      color: $blueAcap !important;

  }

}
















a {
  font-size: 12px;
  font-family: nexaBold;
  text-decoration: none !important;
}

// preset-fonts

.nexaBlack {
  font-family: nexaBlack;
}
.nexaBold {
  font-family: nexaBold;
}
.nexaLight {
  font-family: nexaLight;
}

// colors

.blue-Acap {
  color: $blueAcap;
}
.gray-Acap {
  color: $graytextAcap;
}
.red-Acap {
  color: $redAcap;
}
.gold-Acap {
  color: $goldAcap;
}
.green-Acap {
  color: $greenDollar;
}
.black-Acap{
  color: rgba(0, 0, 0, 0.81);
}
.bg-gray {
  background-color: $bg-gray;
}
.bg-blue {
  background-color: $blueAcap;
}
.bg-red {
  background-color: $redAcap;
}
.bg-gold {
  background-color: $goldAcap;
}

// buttons
.btn-acap-light {
  @include btn-acap-light;
}
.btn-acap-blue {
  @include btn-acap-blue;
}
.btn-acap-gold {
  @include btn-acap-gold;
}
.btn-acap-gold-light {
  @include btn-acap-gold-light;
}
.btn-acap-active {
  @include btn-acap-active;
}
.btn-news-home {
  @include btn-news-home;
}


// containers
.container {
  max-width: 1088px;
  @include display-b-center;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}

//cards acap

.item-card-acap {
  @include card-item;
}
.card-news-home-acap {
  @include card-news;
}

.title {
  @include display-b-center;
  margin-top: 92px;

  max-width: 712px;
}

//// center block

.d-b-center{
  @include display-b-center;
}
//margins
.no-margin{
  margin: 0 !important;
}
//pads

.pad-Acap{
  padding: 15px;
}
.pad-top-Acap{
  padding-top: 15px;
}
.pad-left-Acap{
  padding-left: 15px;
}
.pad-right-Acap{
  padding-right: 15px;
}
.pad-bottom-Acap{
  padding-bottom: 15px;
}

/// object fit

.fit-cover{
  object-fit: cover;
}
.fit-contain{
  object-fit: contain;
}

///divider

.divider-acap{
  width: 20%;
  height: 4px;
  border-radius: 30px;
  background-color: rgb(196, 196, 196);
}

