@import "fonts";
@import "mixins";
@import "vars";
h1 {
  font-size: 50px;
  font-family: nexaBlack;
}
h2 {
  font-size: 45px;
  font-family: nexaBold;
}
h3 {
  font-size: 30px;
  font-family: nexaBold;
}
h4 {
  font-size: 23px;
  font-family: nexaBold;
}
h5 {
  font-size: 20px;
  font-family: nexaLight;
}
p {
  font-size: 17px;
  font-family: nexaLight;
}
span {
  font-size: 12px;
  font-family: nexaBold;
}
a {
  font-size: 12px;
  font-family: nexaBold;
  text-decoration: none !important;
}

// preset-fonts

.nexaBlack {
  font-family: nexaBlack;
}
.nexaBold {
  font-family: nexaBold;
}
.nexaLight {
  font-family: nexaLight;
}

// colors

.blue-Acap {
  color: $blueAcap;
}
.gray-Acap {
  color: $graytextAcap;
}
.red-Acap {
  color: $redAcap;
}
.gold-Acap {
  color: $goldAcap;
}
.green-Acap {
  color: $greenDollar;
}
.bg-gray {
  background-color: $bg-gray;
}
.bg-blue {
  background-color: $blueAcap;
}
.bg-red {
  background-color: $redAcap;
}
.bg-gold {
  background-color: $goldAcap;
}

// buttons
.btn-acap-light {
  @include btn-acap-light;
}
.btn-acap-blue {
  @include btn-acap-blue;
}
.btn-acap-active {
  @include btn-acap-active;
}
.btn-news-home {
  @include btn-news-home;
}
// containers
.container {
  max-width: 1088px;
  @include display-b-center;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}

//cards acap

.item-card-acap {
  @include card-item;
}
.card-news-home-acap {
  @include card-news;
}
