@mixin header-desktop {
  transition: 0.2s;
  .pad-head {
    padding: 0 100px 0 100px;
  }
  .firts-head {
    @include flexRow;
    padding-top: 25px;
    justify-content: space-between;
    .logo {
      img {
        max-width: 222px;
      }
    }
    .curren-change-info {
      @include flexRow;
      align-items: center;
      .dropdown {
        button {
          background-color: $white;
          border-radius: 4px;
          width: 60px;
          height: 28px;
          font-size: 12px;
          color: $greenDollar;
          // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }
      }
      .data-money {
        @include flexRow;
        span {
          font-size: 12px;
          font-family: nexaBold;
          margin-left: 15px;
        }
        .sale {
          color: $greenDollar;
        }
      }
    }
  }
  .second-head {
    @include flexRow;
    justify-content: flex-end;
    nav {
      ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
          display: inline-block;
          margin: 0 0 0 38px;
          &:first-child {
            margin-left: 0;
          }
          a {
            color: $graytextAcap;
            padding: 18px 0;
            font-size: 13px;
          }
          .active {
            border-bottom: solid $blueAcap 3px;
          }
        }
      }
    }
  }
  .third-head {
    .elements {
      @include flexRow;
      justify-content: flex-end;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 10px 16px 42px rgba(0, 0, 0, 0.249);
      .left-side {
        display: none;
      }
      .right-side {
        @include flexRow;
        align-items: center;
        nav {
          ul {
            margin-bottom: 0;
            padding: 0;
            li {
              display: inline-block;
              margin: 0 0 0 17px;
              &:first-child {
                margin-left: 0;
              }
              a {
                font-family: Helvetica;
                text-transform: uppercase;
                color: $graytextAcap;
              }
              .active {
                color: $blueAcap;
                font-weight: 600;
              }
            }
          }
        }
        .search {
          margin: 0 0 0 17px;
          input {
            width: 0;
            border: none;
          }
          button {
            border: none;
            background: none;
          }
        }
        .divider {
          height: 20px;
          width: 1px;
          background-color: $graytextAcap;
        }
        .cta-internet-banking {
          margin: 0 0 0 8px;
          button {
            background-color: $redAcap;
            color: $white;
            height: 40px;
            min-width: 155px;
            border: none;
            border-radius: 5px;
            font-size: 13px;
            font-family: $nexaBold;
            img {
              width: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1366px) {
    .pad-head {
      padding: 25px 25px 0 25px;
    }
  }
  @media screen and (max-width: 1220px) {
    .third-head nav ul li,
    .third-head .search,
    .third-head .cta-internet-banking {
      margin: 0 0 0 5px !important;
    }
  }
  @media screen and (max-width: 1115px) {
    display: none;
  }
}
.header-fix {
  transition: 0.2s;
  .firts-head,
  .second-head {
    display: none;
  }
  .third-head {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    .elements {
      justify-content: space-between !important;
    }
    .left-side {
      display: block !important;
      .logo-mini-nav {
        width: 130px;
      }
    }
    .right-side {
      // nav {
      //   ul {
      //     li {
      //       margin: 0 0 0 5px !important;
      //     }
      //   }
      // }
      .search,
      .divider {
        display: none;
      }
    }
  }
}

@mixin responsive-nav {
  .first-head {
    .items {
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      height: 100px;
      .left-side {
        img {
          width: 193px;
        }
      }
      .right-side {
        .search {
          margin: 0 0 0 17px;
          @include flexRow;
          input {
            width: 0;
            border: none;
          }
          button {
            border: none !important;
            background: none !important;
            margin-right: 10px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .second-head {
    .items {
      @include flexRow;
      justify-content: space-between;
      height: 67px;
      align-items: center;
      background-color: #fafafa;
      .left-side {
        .curren-change-info {
          @include flexRow;
          align-items: center;
          .dropdown {
            button {
              background-color: $white;
              border-radius: 4px;
              width: 60px;
              height: 28px;
              font-size: 12px;
              color: $greenDollar;
              // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            }
          }
          .data-money {
            @include flexRow;
            span {
              font-size: 12px;
              font-family: nexaBold;
              margin-left: 15px;
            }
            .sale {
              color: $greenDollar;
            }
          }
        }
      }
      .right-side {
        .cta-internet-banking {
          margin: 0 0 0 8px;
          button {
            background-color: $redAcap;
            color: $white;
            height: 40px;
            min-width: 155px;
            border: none;
            border-radius: 5px;
            font-size: 13px;
            font-family: $nexaBold;
            img {
              width: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 426px) {
    .second-head {
      .left-side {
        display: none;
      }
      .right-side {
        width: 100%;
        .cta-internet-banking {
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@mixin menu-responsive {
  transition: 0.1s all ease-in-out;
  position: fixed;
  top: 0;
  left: -200%;
  width: 100vw;
  height: 100vh;
  background-color: $blueAcap;
  z-index: 999;
  overflow-y: scroll;
  .container {
    position: relative;
    .close {
      position: absolute;
      right: 0;
      top: 50px;
      z-index: 999;
    }
    .content {
      // overflow-y: scroll;
      .head-menu {
        width: 100%;
        @include flexColumn;
        justify-content: center;
        align-items: center;
        .logo {
          margin-bottom: 30px;
          width: 100%;
          padding: 30px;
          img {
            @include display-b-center;
            width: 280px;
          }
        }
        .curren-change-info {
          @include flexRow;
          align-items: center;
          justify-content: center;
          border-top: solid 1px rgba(255, 255, 255, 0.466);
          border-bottom: solid 1px rgba(255, 255, 255, 0.466);

          width: 100%;
          padding: 30px;

          .dropdown {
            button {
              background-color: $white;
              border-radius: 4px;
              width: 60px;
              height: 28px;
              font-size: 12px;
              color: $greenDollar;
              font-family: $nexaBold;
              // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            }
          }
          .data-money {
            @include flexRow;
            span {
              font-size: 12px;
              font-family: nexaBold;
              margin-left: 15px;
              color: white;
            }
            .sale {
              color: $greenDollar;
            }
          }
        }
      }
      .list-menu {
        margin-top: 80px;
        ul {
          li {
            list-style-type: none;
            margin-top: 37px;
            border-bottom: 1px solid white;
            a {
              color: $white;
              text-decoration: none;
              font-size: 25px;
            }
          }
          .dropdown {
            .dropdown-menu {
              width: 100%;
              position: relative;
              background-color: transparent;
              border: none;
              padding: 3%;
              a {
                font-family: $nexaLight !important;
                border-bottom: 1px solid rgba(255, 255, 255, 0.287);
                padding: 1%;
              }
            }
          }
          .nav-link {
            padding: 0;
          }
          .show {
            position: relative !important;
            transform: unset !important;
          }
        }
      }
    }
  }
}

