@import "global-style";
@import "headers";
@import "carousel-setting";
@import "bar-botton";
@import "footer";
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: $graytextAcap;
  font-family: $nexaLight;
  position: relative;
  .header-desktop {
    @include header-desktop;
  }
  .responsive-header {
    display: none;
    @include responsive-nav;
  }
  .list-menu-responsive {
    transition: 0.2s;
    position: fixed;
    top: 0;
    left: -1300px;
    width: 0;
    height: 0;
    background-color: $blueAcap;
    z-index: 999;
    // overflow-y: scroll;
    .container{
      position: relative;
      .close{
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 999;
      }
      .content{
        // overflow-y: scroll;
      }
      .head-menu{
        width: 100%;
        @include flexColumn;
        justify-content: center;
        align-items: center;
        .logo{
          margin-bottom: 30px;
          width: 100%;
          padding: 30px;
          img{
            @include display-b-center;
            width: 280px;
  
          }
        }
        .curren-change-info {
          @include flexRow;
          align-items: center;
          justify-content: center;
          border-top: solid 1px rgba(255, 255, 255, 0.466);
          border-bottom: solid 1px rgba(255, 255, 255, 0.466);
  
          width:100%;
          padding: 30px;
  
          .dropdown {
            button {
              background-color: $white;
              border-radius: 4px;
              width: 60px;
              height: 28px;
              font-size: 12px;
              color: $greenDollar;
              font-family: $nexaBold; 
              // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            }
          }
          .data-money {
            @include flexRow;
            span {
              font-size: 12px;
              font-family: nexaBold;
              margin-left: 15px;
              color: white;
            }
            .sale {
              color: $greenDollar;
            }
          }
        }
      }
        .list-menu {
          margin-top: 80px;
          ul {
            li {
              list-style-type: none;
              margin-top: 37px;
              border-bottom: 1px solid white;
              a {
                color: $white;
                text-decoration: none;
                font-size: 25px;
              }
            }
            .dropdown{
              .dropdown-menu{
                width: 100%;
                position: relative;
                background-color: transparent;
                border: none;
                padding: 3%;
                a{
                  font-family: $nexaLight !important;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.287);
                  padding: 1%;
                }
              }
            }
            .nav-link{
              padding: 0;
            }
            .show{
              position: relative !important;
              transform: unset !important;
            }
          }
        }
    }
    
  }
  .open{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .carousel-content {
    @include carousel;
  }
  .bar-botton {
    @include bar-botton;
  }
  .solution-home {
    .container {
      .title {
        @include display-b-center;
        margin-top: 92px;

        max-width: 712px;
      }
      .items {
        margin-top: 60px;
      }
    }
  }
  .canals-home {
    padding: 92px 0;
    margin-top: 70px;
    .container {
      p {
        margin-top: 28px;
      }
      .divider {
        max-width: 291px;
        height: 13px;
        border-radius: 11px;
        opacity: 0.38;
        margin-top: 70px;
      }
    }
  }
  .canals-app {
    padding: 92px 0;
    p {
      margin-top: 28px;
    }
    a {
      font-size: 14px;
      color: $blueAcap;
      margin-top: 40px;
    }
    .btn-appstore {
      @include flexRow;
      margin-top: 40px;
      img {
        &:last-child {
          margin-left: 48px;
        }
      }
    }
  }
  .security-invertion-home {
    padding: 92px 0;
    .container {
      .title {
        @include display-b-center;

        max-width: 712px;
      }
      .items {
        margin-top: 75px;
        .item-card-acap {
          max-width: 212px;
          .icon {
            width: 168px;
            height: 87px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          h4 {
            max-width: 181px;
          }
          button {
            max-width: 212px;
          }
        }
      }
    }
  }
  .news-home {
    padding: 92px 0;
    h2 {
      text-align: center;
    }
    .cards-news-home {
      width: 100%;
      margin-top: 72px;
      justify-content: space-between;
    }
  }
  footer {
    @include footer;
  }
}
