$blueAcap: #174896;
$graytextAcap: rgba(
  $color: #000000,
  $alpha: 0.8
);
$lightblueAcap: #1176b0;
$redAcap: #eb2b27;
$goldAcap: #d9a561;
$greenDollar: #00a566;
$bg-gray: #eaeaea;
$white: #fff;
$blackAcap: rgba(0, 0, 0, 0.81);
$nexaBlack: nexaBlack;
$nexaBold: nexaBold;
$nexaLight: nexaLight;
$pinkAcap:#eb2a2729;
