@font-face {
  font-family: nexaBlack;
  src: url(../fonts/NexaBlack.ttf);
}
@font-face {
  font-family: nexaBold;
  src: url(../fonts/NexaBold.otf);
}
@font-face {
  font-family: nexaLight;
  src: url(../fonts/NexaLight.otf);
}
h1 {
  font-size: 50px;
  font-family: nexaBlack;
}

h2 {
  font-size: 45px;
  font-family: nexaBold;
}

h3 {
  font-size: 30px;
  font-family: nexaBold;
}

h4 {
  font-size: 24px;
  font-family: nexaBold;
}

h5 {
  font-size: 20px;
  font-family: nexaLight;
}

p {
  font-size: 17px;
  font-family: nexaLight;
  color: rgba(0, 0, 0, 0.803);
}

span {
  font-size: 12px;
  font-family: nexaBold;
}

a {
  font-size: 12px;
  font-family: nexaBold;
  text-decoration: none !important;
}

.nexaBlack {
  font-family: nexaBlack;
}

.nexaBold {
  font-family: nexaBold;
}

.nexaLight {
  font-family: nexaLight;
}

.blue-Acap {
  color: #174896;
}

.gray-Acap {
  color: rgba(0, 0, 0, 0.8);
}

.red-Acap {
  color: #eb2b27;
}

.gold-Acap {
  color: #d9a561;
}

.green-Acap {
  color: #00a566;
}

.black-Acap {
  color: rgba(0, 0, 0, 0.81);
}

.bg-gray {
  background-color: #eaeaea;
}

.bg-blue {
  background-color: #174896;
}

.bg-red {
  background-color: #eb2b27;
}

.bg-gold {
  background-color: #d9a561;
}

.btn-acap-light {
  font-size: 12px;
  color: #1176b0;
  background-color: #fff;
  border: solid 1px #1176b0;
  padding: 13px 50px;
  font-family: nexaBold;
  display: inline-block;
}
.btn-acap-light:hover {
  background-color: #174896;
  color: #fff;
  border-color: #174896;
  transition: 0.2s;
}

.btn-acap-blue {
  font-size: 12px;
  color: #fff;
  background-color: #174896;
  border: solid 1px #fff;
  padding: 13px 50px;
  font-family: nexaBold;
  display: inline-block;
}
.btn-acap-blue:hover {
  background-color: #fff;
  color: #174896;
  border-color: #174896;
  transition: 0.2s;
}

.btn-acap-gold {
  font-size: 12px;
  color: #fff;
  background-color: #d9a561;
  border: solid 1px #fff;
  padding: 13px 50px;
  font-family: nexaBold;
  display: inline-block;
}
.btn-acap-gold:hover {
  background-color: #fff;
  color: #d9a561;
  border-color: #fff;
  transition: 0.2s;
}

.btn-acap-gold-light {
  font-size: 12px;
  color: #d9a561;
  background-color: #fff;
  border: solid 1px #d9a561;
  padding: 13px 50px;
  font-family: nexaBold;
  display: inline-block;
}
.btn-acap-gold-light:hover {
  background-color: #d9a561;
  color: #fff;
  border-color: #fff;
  transition: 0.2s;
}

.btn-acap-active {
  font-size: 12px;
  color: #fff;
  background-color: #174896;
  border: solid 1px #174896;
  padding: 13px 50px;
  display: inline-block;
}

.btn-news-home {
  border: solid 1px #174896;
  background-color: #fff;
  color: #174896;
  font-size: 12px;
  padding: 13px 50px;
  display: inline-block;
}
.btn-news-home:hover {
  background-color: #174896;
  color: #fff;
  transition: 0.2s;
}

.container {
  max-width: 1088px;
  display: block;
  margin: 0 auto;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

.item-card-acap {
  max-width: 260px;
  margin-top: 30px;
  min-height: 455px;
  position: relative;
}
.item-card-acap .icon {
  width: 106px;
  height: 106px;
}
.item-card-acap .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-card-acap h4 {
  max-width: 210px;
  margin: 30px 0 20px 0;
}
.item-card-acap p {
  min-height: 126px;
}
.item-card-acap a {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.card-news-home-acap {
  max-width: 325px;
  border: solid 1px #eaeaea;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.16);
}
.card-news-home-acap .picture-news {
  width: 100%;
  height: 234px;
}
.card-news-home-acap .picture-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-news-home-acap .body-card-news-acap {
  padding: 21px 15px;
}
.card-news-home-acap .body-card-news-acap .title-news {
  margin: 0 0 21px 0;
}
.card-news-home-acap .body-card-news-acap a {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.title {
  display: block;
  margin: 0 auto;
  margin-top: 92px;
  max-width: 712px;
}

.d-b-center {
  display: block;
  margin: 0 auto;
}

.no-margin {
  margin: 0 !important;
}

.pad-Acap {
  padding: 15px;
}

.pad-top-Acap {
  padding-top: 15px;
}

.pad-left-Acap {
  padding-left: 15px;
}

.pad-right-Acap {
  padding-right: 15px;
}

.pad-bottom-Acap {
  padding-bottom: 15px;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

.divider-acap {
  width: 20%;
  height: 4px;
  border-radius: 30px;
  background-color: #c4c4c4;
}

/*# sourceMappingURL=global-style.css.map */
